main{
    display: flex;
    justify-content: space-around;
}

a:hover{
    color: blueviolet;
}

a{
    color: rgb(24, 127, 178);
    background-color: rgb(152, 208, 236);
}

li > h3{
    background-color: rgb(255, 203, 219);
}

strong{
    font-size: 1.2rem;
}

body{
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(100, 0, 0));
}

ol > li > h3:hover {
    background-color: rgb(24, 127, 178) ;
}

img#foto__perfil{
    border-radius: 50%;
    position:absolute
}

img#foto__perfil:hover{
    cursor: pointer;
}

section > ol li{
    display: grid;
    grid-template-columns: 150px 300px;
}

div{
    margin: 0;
}